html {
  scroll-behavior: smooth;
}

@media (max-width: 425px) {
  body, html {
    overflow-x: hidden;
  }
}

* {
  transition: all 0.2s ease;
}

.hidden {
  display: none!important;
}

.custom-dropdown {
  .btn {
    background-color: transparent !important;
    border-color: transparent !important;
    padding: 0;
    box-shadow: none !important;
  }
  ul {
    transform: translate3d(0px, 60px, 0px)!important;
  }
  .dropdown-menu {
    right: 0!important;
    left: auto!important;
  }
}

.arrow--l-r {
  width: 1.25rem;
  height: 1.26rem;
  display: inline-block;
  position: relative;
  margin: 0 1rem;
  transform: rotate(-90deg);
}
.arrow--l-r.left span:nth-child(4) {
  transform: rotate(-45deg);
}
.arrow--l-r.left span:nth-child(5) {
  transform: rotate(45deg);
}
.arrow--l-r.right span:nth-child(1) {
  transform: rotate(-45deg);
}
.arrow--l-r.right span:nth-child(2) {
  transform: rotate(45deg);
}
.arrow--l-r span {
  position: absolute;
  height: 0.1rem;
  background-color: #000;
  transition: transform 0.2s ease;
}
.arrow--l-r span:nth-child(1),
.arrow--l-r span:nth-child(2),
.arrow--l-r span:nth-child(4),
.arrow--l-r span:nth-child(5) {
  width: 0.625rem;
  top: 0.625rem;
}
.arrow--l-r span:nth-child(1) {
  right: 0;
  transform-origin: bottom right;
}
.arrow--l-r span:nth-child(2) {
  right: 0;
  transform-origin: top right;
}
.arrow--l-r span:nth-child(3) {
  left: -30px;
  width: 50px;
  top: 0.625rem;
}
.arrow--l-r span:nth-child(4) {
  left: -30px;
  transform-origin: bottom left;
}
.arrow--l-r span:nth-child(5) {
  left: -30px;
  transform-origin: top left;
}

.header-bg {
  background: linear-gradient(-45deg, #15185B, #2C5FAB, #6F51D2);
  height: 730px;
  background-size: 500% 500%;
  animation: gradient 4s ease infinite;
  width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient {
  background: linear-gradient(0deg, rgba(14,14,14,0.47102591036414565) 0%, rgba(255,255,255,1) 95%);
}

.border-left-header {
  //border: 0.5px solid #4c4c4c;
  border-top: 0;
}

.block-std {
  padding: 100px 0;
  padding-bottom: 0!important;
}

.block-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;

  color: #234D97;
}

.cursor-pointer {
  cursor: pointer;
}

.modal-header {
  border: 0!important;
}

.border-header {
  border: 0.5px solid #ffffff;
  opacity: 0.15;
}

@media (max-width: 425px) {
  .d-mob-block {
    display: block!important;
  }


}
